/* 
 * colors 
 */

$grey: #dedede;
$primary-text: #09d3ac;

$peach: #d8a678;
$dark-military-green: #222a26;
$military-green: #454d46;
$blue-green: #60747b;
$light-military-green: #656960;

$white: #fff;
$light-white: #f5f5f5;

$avenir-next-condensed: 'test';

